<html ng-app="itemApp">
<head>
    <title>Item Collection</title>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-controller="itemController">
    <h2>Item Collections</h2>
    Add a New Item:
    <input type="text" ng-model="newItem"/>
    <button ng-click="addItem()">Add Item</button>
    <ul>
        <li ng-repeat="item in items track by $index">{{ item }}
            <button ng-click="removeItem()">Remove</button>
        </li>
        <p>Total items: {{ items.length }}</p>
    </ul>
<!-- The Functional script part  -->
    <script>
        var app = angular.module('itemApp', []);
        app.controller('itemController', function($scope)
        {
            $scope.items = ['Item1', 'Item2', 'Item3'];
                $scope.newItem='';
            

            $scope.addItem = function(){
                if($scope.newItem){
                    $scope.items.push($scope.newItem);
                    $scope.newItem='';
                }
            $scope.removeItem = function(index){
                $scope.items.splice(index,1);
            }
            };
        });
    </script>
 </body>
 </html>
    
